<h1>Cadastro de Equipamento</h1>

<hr />

<a href="/Equipamento/Index">Visualizar Equipamento</a>

<hr />

<form action="/Equipamento/Cadastrar" method="post">
	<label>Nome:</label>
	<br />

	<input name="Nome" />
	<br />

	<label>Email:</label>
	<br />

	<input name="Email" />
	<br />

	<label>Telefone:</label>
	<br />

	<input name="Telefone" />
	<br />

	<button>Gravar</button>
</form>