<h1>Cadastro de Equipamento</h1>

<hr />

<a href="/Equipamento/Index">Visualizar Equipamento</a>

<hr />

<form action="/Equipamento/Cadastrar" method="post">
	<label>Nome:</label>
	<br />

	<input name="Nome" />
	<br />

	<label>PrecoAquisicao :</label>
	<br />

	<input name="PrecoAquisicao " />
	<br />

	<label>NumeroSerie :</label>
	<br />

	<input name="NumeroSerie " />
	<br />

	<button>Gravar</button>
</form>