@* @using GestaoDeEquipamentos.Dominio.ModuloEquipamento *@

@* @model List<Equipamento> *@

@* <h1>Visualização de Equipamento</h1> *@

@* <hr /> *@

@* <a href="/Equipamento/Cadastrar">Cadastrar Novo Equipamento</a> *@

@* <ul> *@
@* 	@foreach (Equipamento e in Model) *@
@* 	{ *@
@* 		<li>@e.Nome / @e.Email / @e.Telefone</li> *@
@* 	} *@
@* </ul> *@