<h1>Cadastro de Fabricante</h1>

<hr />

<a href="/Fabricante/Index">Visualizar Fabricantes</a>

<hr />

<form action="/Fabricante/Cadastrar" method="post">
	<label>Nome:</label>
	<br />

	<input name="Nome" />
	<br />

	<label>Email:</label>
	<br />

	<input name="Email" />
	<br />

	<label>Telefone:</label>
	<br />

	<input name="Telefone" />
	<br />

	<button>Gravar</button>
</form>