@using GestaoDeEquipamentos.Dominio.ModuloFabricante

@{
    Layout = "_Layout";
}
@model Fabricante;

<div class="row justify-content-center">
    <form class="col-6" action="/Fabricante/Editar/@Model.Id" method="post">
        <div class="mb-3">
            <label for="Nome" class="form-label">Nome</label>
            <input class="form-control" name="Nome" value="@Model.Nome">
        </div>
        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input class="form-control" name="Email" value="@Model.Email">
        </div>
        <div class="mb-5">
            <label for="Telefone" class="form-label">Telefone</label>
            <input class="form-control" name="Telefone" value="@Model.Telefone">
        </div>

        <div class="d-flex gap-2 justify-content-end">
            <a href="/Fabricante" class="btn btn-outline-primary px-5 ">Voltar</a>
            <button class="btn btn-primary px-5">Gravar</button>
        </div>
    </form>
</div>