@using GestaoDeEquipamentos.Dominio.ModuloFabricante

@model Fabricante;

<h1>Edição de Fabricante</h1>

<hr />

<a href="/Fabricante/Index">Visualizar Fabricantes</a>

<hr />

<form action="/Fabricante/Editar/@Model.Id" method="post">
	<label>Nome:</label>
	<br />

	<input name="Nome" value="@Model.Nome" />
	<br />

	<label>Email:</label>
	<br />

	<input name="Email" value="@Model.Email" />
	<br />

	<label>Telefone:</label>
	<br />

	<input name="Telefone" value="@Model.Telefone" />
	<br />

	<button>Gravar</button>
</form>