@using GestaoDeEquipamentos.Dominio.ModuloFabricante

@model List<Fabricante>

<h1>Visualização de Fabricante</h1>

<hr />

<a href="/Fabricante/Cadastrar">Cadastrar Novo Fabricante</a>

<ul>
	@foreach (Fabricante f in Model)
	{
		<li>@f.Nome / @f.Email / @f.Telefone</li>
	}
</ul>