<h1>Cadastro de Chamado</h1>

<hr />

<a href="/Chamado/Index">Visualizar Chamado</a>

<hr />

<form action="/Chamado/Cadastrar" method="post">
	<label>Nome:</label>
	<br />

	<input name="Nome" />
	<br />

	<label>Email:</label>
	<br />

	<input name="Email" />
	<br />

	<label>Telefone:</label>
	<br />

	<input name="Telefone" />
	<br />

	<button>Gravar</button>
</form>