<h1>Cadastro de Chamado</h1>

<hr />

<a href="/Chamado/Index">Visualizar Chamado</a>

<hr />

<form action="/Chamado/Cadastrar" method="post">
	<label>Titulo:</label>
	<br />

	<input name="Titulo" />
	<br />

	<label>Descricao:</label>
	<br />

	<input name="Descricao" />
	<br />

	<label>DataAbertura:</label>
	<br />

	<input name="DataAbertura" />
	<br />

	<label>Equipamento:</label>
	<br />

	<input name="Equipamento" />
	<br />


	<button>Gravar</button>
</form>