@* @using GestaoDeEquipamentos.Dominio.ModuloChamado *@

@* @model List<Chamado> *@

@* <h1>Visualização de Chamados</h1> *@

@* <hr /> *@

@* <a href="/Chamado/Cadastrar">Cadastrar Novo Chamados</a> *@

@* <ul> *@
@* 	@foreach (Chamado c in Model) *@
@* 	{ *@
@* 		<li>@f.Nome / @f.Email / @f.Telefone / <a href="/Fabricante/Editar/@f.Id">Editar</a> / <a href="/Fabricante/Excluir/@f.Id">Excluir</a> </li> *@
@* 	} *@
@* </ul> *@